@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #5D5D7D;
}

.wrapper{
    width: 100%;
    height: 100%;
}
.container-left{
    display: inline-block; 
    width: 60%;
    padding-left: 136px;
}

.container-right{
    display: inline-block;
    height: 130%;
    background-color: rgba(93,93,125, 0.16);
    width: 40%;
    position: absolute;
}

img{
    position: relative;
    top: 150.88px;
    right: 130px;
}

h1{
    width: 368px;
    height: 160px;
    margin-top: 381px;
    font-size: 70px;
    line-height: 80px;
}

p{
    width: 540px;
    height: 144px;
    font-size: 28px;
    line-height: 48px;
    margin: 15px 0px;
}

button{
    width: 269px;
    height: 62px;
    background: #9499EA;
    border-radius: 24px;
    color: #FFFFFF;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border: none;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.5;
}

a{
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    margin-right: 41px;
    color: #5D5D7D;
}

.link-work{
    opacity: 0.4;
}

a:hover{
    opacity: 0.4;
}

a:active{
    opacity: 0.8;
}

header{
    margin: 24px 0 0 57px
}

@media screen and (max-width: 900px ) {
    *{
        overflow-x: hidden;
    }
    .container-left{
        width: 100%;
        height: 50vh;
        padding: 0;
        margin: 0;
    }
    .container-right{
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 5.997vh 10.666666666666666vw;
    }
    img{
        position: static;
        margin-top: 7.046vh;
        width: 90%;
    }

    header{
        display: none;
    }

    h1{
        font-size: 9.6vw;
        line-height: 7.796vh;
        width: auto;
        margin: 8.696vh 13.333333333333334vw 0px 13.333333333333334vw;
        text-align: center;
        height: auto;
    }

    p{
        margin: 2.249vh 10.666666666666666vw;
        width: auto;
        text-align: center;
        line-height: 3.598vh;
        font-size: 3.7333333333333334vw;
        height: auto;
    }

    button{
        margin: 0 auto;
        display: block;
        
    }
}
/* @media screen and (max-width: 330px) {
    .container-left{
        height: 70%;
    }
} */